<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agenda">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_panda"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_panda_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".modeloDeVista.presenter.PantallaDeCarga"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".modeloDeVista.presenter.PantallaCrearTarea" />
        <activity android:name=".modeloDeVista.presenter.PantallaRegistrarUsuario" />
        <activity android:name=".modeloDeVista.presenter.PantallaListadoDeTareas" />
        <activity android:name=".modeloDeVista.recyclerView2.PantallaListado" />
        <activity android:name=".modeloDeVista.presenter.PantallaMenuPrincipal" />
        <activity android:name=".modeloDeVista.presenter.PantallaLogin" />
    </application>

</manifest>